<?xml version="1.0" encoding="UTF-8"?>
<config>
        <fieldset
                name="api_info"
                label="COM_BOXSEARCH_CONFIG_API_INFO_LABEL"
                description="COM_BOXSEARCH_CONFIG_API_INFO_DESC"
        >
                
                <field
                        name="api_key"
                        type="text"
                        label="COM_BOXSEARCH_CONFIG_API_KEY_LABEL"
                        description="COM_BOXSEARCH_CONFIG_API_KEY_DESC"
                        default=""
                />
                <field
                        name="client_id"
                        type="text"
                        label="COM_BOXSEARCH_CONFIG_API_CLIENT_ID_LABEL"
                        description="COM_BOXSEARCH_CONFIG_API_CLIENT_ID_DESC"
                        default=""
                />
                <field
                        name="client_secret"
                        type="text"
                        label="COM_BOXSEARCH_CONFIG_API_CLIENT_SECRET_LABEL"
                        description="COM_BOXSEARCH_CONFIG_API_CLIENT_SECRET_DESC"
                        default=""
                />
                 <field
                        name="redirect_uri"
                        type="text"
                        label="COM_BOXSEARCH_CONFIG_API_REDIRECT_URI_LABEL"
                        description="COM_BOXSEARCH_CONFIG_REDIRECT_URI_DESC"
                        default=""
                />
                <field
                         name="refresh_token_expire"
                         type="text"
                         label="COM_BOXSEARCH_CONFIG_API_REFRESH_TOKEN_EXPIRE_LABEL"
                         description="COM_BOXSEARCH_CONFIG_API_REFRESH_TOKEN_EXPIRE_DESC"
                         default="14"
                />
 
        </fieldset>
</config>